*
{
  margin:0;
  padding:0;
}

#console
{
  position: absolute;
  font-size: 15px;
  font-family: monospace;
  color: white;
  z-index: 1;
  min-width: 250px;
  background: #44444480;
}

html, body
{
  width:100%;
  height:100%;
}

canvas
{
  display:block;
  position: absolute;
  z-index: 0;
}